# Dépendances Node.js
node_modules/

# Fichiers d'environnement (très important pour la sécurité)
.env

# Logs et fichiers temporaires
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers de l'éditeur (ex: VSCode)
.vscode/

# Fichiers de build
/build
/dist